<div class="main-content d-flex flex-column">
    <div *ngIf="showTable" class="clearfix">
        <button class="float-right btn btn-lg btn-danger" (click)="addReward()">Add New</button>
    </div>
    <div class="card flex-grow-1">
        <div class="card-header card-header-danger clearfix">
            <div class="float-left">
                <h4 class="card-title">Vouchers</h4>
                <p class="card-category">Voucher information table listing</p>
            </div>
            <form *ngIf="showTable" class="float-right">
                <div class="input-group no-border">
                    <input type="text" [(ngModel)]="searchText" value="" (ngModelChange)="onClearSearch()" class="form-control align-self-center text-white" placeholder="Search...">
                    <button *ngIf="searchText !== ''" type="button" class="btn btn-outline border-0 shadow-none btn-just-icon text-white" (click)="resetSearch()">
                        <i class="material-icons">close</i>
                    </button>
                    <button mat-raised-button type="button" class="btn btn-white btn-round btn-just-icon" (click)="setDisplay()">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-body">
            <table *ngIf="showTable && displayRewards.length > 0" class="table">
                <thead class=" text-primary">
                <tr class="d-flex">
                    <th class="col-1">
                        Voucher Title
                    </th>
                    <th class="col-3">
                        Image
                    </th>
                    <th class="col-lg-2 col-3">
                        Voucher Description
                    </th>
                    <th class="col-lg-1 col-2">
                        Merchant Name
                    </th>
                    <th class="col-1">
                        Voucher Type
                    </th>
                    <th class="col-lg-1 d-none d-lg-block">
                        Start Date
                    </th>
                    <th class="col-lg-1 d-none d-lg-block">
                        End Date
                    </th>
                    <th class="col-1">
                        Voucher Limit
                    </th>
                    <th class="col-1"><!--Empty header for edit button--></th>
                </tr>
                </thead>
                <tbody *ngFor="let reward of displayRewards, let i = index">
                <tr class="d-flex">
                    <td class="col-1 align-self-center">
                        {{reward.title}}
                    </td>
                    <td class="col-3 align-self-center">
                        <img class="mw-100" src="{{reward.image}}" alt="Reward Image"/>
                    </td>
                    <td class="col-lg-2 col-3 align-self-center">
                        {{reward.description}}
                    </td>
                    <td class="col-lg-1 col-2 align-self-center">
                        {{reward.merchantName}}
                    </td>
                    <td class="col-1 align-self-center">
                        {{reward.expiryType}}
                    </td>
                    <td class="col-lg-1 d-none d-lg-block align-self-center">
                        {{reward.startDate}}
                    </td>
                    <td class="col-lg-1 d-none d-lg-block align-self-center">
                        {{reward.endDate}}
                    </td>
                    <td class="col-1 align-self-center">
                        {{reward.voucherLimit}}
                    </td>
                    <td class="col-1 text-center align-self-center justify-content-between">
                        <button class="btn btn-white btn-just-icon shadow-none text-danger" (click)="editReward(reward);"><i class="material-icons">edit</i></button>
                        <button class="btn btn-white btn-just-icon shadow-none text-danger" (click)="removeReward(reward.voucherId)"><i class="material-icons">delete</i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div *ngIf="showTable && displayRewards.length === 0" class="h1 text-center">No FAQ Categories found!</div>
            <form *ngIf="showForm" [formGroup]="rewardForm" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Voucher Title
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="formReward.title" formControlName="title" matInput required>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.title.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Description
                    </div>
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                            <textarea [(ngModel)]="formReward.description" formControlName="description" matInput></textarea>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.description.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Merchant
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <mat-select formControlName="merchantId" required>
                                <mat-option *ngFor="let merchant of merchants" value="{{merchant.merchantId}}">{{merchant.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.merchantId.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row align-items-center">
                    <div class="col-2 text-primary align-self-center">
                        Start Date
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" [max]="f.endDate">
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <ngb-timepicker [(ngModel)]="startTime" formControlName="startTime"></ngb-timepicker>
                    </div>
                    <div *ngIf="submitted && f.startDate.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row align-items-center">
                    <div class="col-2 text-primary align-self-center">
                        End Date
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" [min]="f.startDate">
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <ngb-timepicker [(ngModel)]="endTime" formControlName="endTime"></ngb-timepicker>
                    </div>
                    <div *ngIf="submitted && f.endDate.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Voucher Type
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <mat-select [(ngModel)]="formReward.expiryType" formControlName="expiryType" required>
                                <mat-option *ngFor="let label of voucherTypeMapping; let i = index" value="{{i + 1}}">{{label}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.expiryType.errors" class="form-error">*Invalid</div>
                </div>
                <div *ngIf="formReward.expiryType === 1" class="row align-items-center">
                    <div class="col-2 text-primary align-self-center">
                        Expiry Date
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="fill">
                            <input matInput [matDatepicker]="expiryDatePicker" formControlName="expiryDate">
                            <mat-datepicker-toggle matSuffix [for]="expiryDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #expiryDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <ngb-timepicker [(ngModel)]="expiryTime" formControlName="expiryTime"></ngb-timepicker>
                    </div>
                    <div *ngIf="submitted && f.expiryDate.errors" class="form-error">*Invalid</div>
                </div>
                <div *ngIf="formReward.expiryType === 2" class="row align-items-center">
                    <div class="col-2 text-primary align-self-center">
                        Expiry Days
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="formReward.expiryDay" formControlName="expiryDay" matInput required>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.expiryDay.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Code
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="formReward.code" formControlName="code" matInput required>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.code.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Claimable Amount
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <input type="number" [(ngModel)]="formReward.voucherClaimableAmount" formControlName="voucherClaimableAmount" matInput required>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.voucherClaimableAmount.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Total Limit
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="formReward.voucherLimit" formControlName="voucherLimit" matInput required>
                        </mat-form-field>
                    </div>
                    <div *ngIf="submitted && f.voucherLimit.errors" class="form-error">*Invalid</div>
                </div>
                <div class="row">
                    <div class="col-2 text-primary align-self-center">
                        Image
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img class="img mw-100 h-100" [src]="imageSrc || defaultImage">
                    </div>
                    <div class="col-2 align-self-center">
                        <label for="event-img" class="btn btn-success btn-lg">
                            Upload Image
                        </label>
                        <input type='file' accept="image/*" class="d-none" id="event-img" (change)="readURL($event);" />
                        <button class="btn btn-danger btn-lg" (click)="removeImage();">Remove Image</button>
                    </div>
                    <div *ngIf="!imgurUpload" class="form-error">Imgur upload failed!</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-5">
                        <button type="submit" class="btn btn-danger btn-lg w-100" [attr.disabled]="submitted ? true : null">
                            <span *ngIf="submitted" class="spinner-border spinner-border-sm mr-1"></span>
                            Submit
                        </button>
                    </div>
                    <div class="col-lg-1 col-sm-2"></div>
                    <div class="col-lg-2 col-sm-5">
                        <button type="button" class="btn btn-dark btn-lg w-100" (click)="hideForm()">Back</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
